*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

body {
    background-color: black;
}

.content-container {
    position: relative;
    height: 100vh;
}

.box-container {
    background-color: #fecfbe;
    height: 350px;
    width: 400px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.top-part {
    flex-basis: 50%;
    padding: 15px;
    color: #202082;
}

.top-part img {
    opacity: 0;
    animation: spin 0.5s 1s;
    animation-fill-mode: forwards;
}

.top-part p {
    font-size: 2rem;
    font-weight: 800;
    padding-top: 10px;
    animation: moveDown 1s;
    animation-fill-mode: forwards;
    
}

.middle-part {
    background-color: #fca889;
    flex-basis: 30%;
    padding: 15px;
    display: flex;
    align-items: center;
    animation: moveUp 1s 0.8s cubic-bezier(0,.7,.48,1);
    animation-fill-mode: forwards;
    opacity: 0;
}

.mid-part-number {
    color: #ff4400;
    font-size: 4rem;
    font-weight: 800;
    padding-right: 10px;
}

.mid-part-inscription {
    color: black;
    text-transform: uppercase;
    width: 120px;
    padding-left: 10px;
    font-size: 1.25rem;
}

.bottom-part {
    background-color: #ff7f50;
    flex-basis: 20%;
    padding: 15px;  
    align-items: center;
    display: flex;
    animation: moveUp 0.5s 0.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.learn-more-btn {
    background-color: #202082;
    border-radius: 50px;
    color: white;
    padding: 15px 20px;
    font-size: 1.1rem;
    border: none;
    animation: moveLeft 0.5s 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes spin {
    from {
        opacity: 0;
    }

    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}